.address {
    background-color: white;
}

.address_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 32px 16px;
    max-width: 768px;
    margin: 0 auto;
}

.address_container > h2 {
    line-height: 1.3em;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.description > p {
    margin: 0;
    line-height: 1.8em;
}

.bottom_address {
    padding-right: 8px;
    max-width: 274px;
}

.title {
    margin: 8px 0;
    padding: 0 8px;
    font-weight: 600;
}

.p_address {
    margin: 8px 0;
    padding: 0 8px;
    line-height: 1.8em;
    word-wrap: break-word;
}

.day {
    margin: 8px 0;
    padding: 0 8px;
    line-height: 1.8em;
}

.hour {
    margin: 8px 0;
    padding: 0 8px;
}

@media screen and (max-width: 1000px) {
    .address_container {
        max-width: 624px;
    }
    .address_container > h2 {
        font-size: 28px;
    }

    .layout {
        font-size: 14px;
    }
}

@media screen and (max-width: 433px) {
    .description, .bottom_address, .bottom_schedule {
        width: 100%;
        text-align: center;
    }

    .bottom_address {
        max-width: none;
    }
}