.App {
  position: relative;
}

.background_block {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: url("./../images/background_main.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;  
    z-index: -1;
  }
  
  .App {
    width: 100%;
    height: 100vh;
  }
  
  .app_main_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .app_svg_icon {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }
  
  .app_svg_icon > svg {
    color: var(--text_color);
    width: 40px;
    height: 40px;
  }
  
  .app_svg_icon > svg:hover {
    cursor: pointer;
  }


  .adapter { 
    background-color: white;
    display: flex;
    padding: 32px 16px;
    flex-direction: column;
    border-bottom: 3px solid #e6e6e6;
}

.favourites {
    display: flex;
    justify-content: center;
    padding: 40px 0 20px;
}

.favourites_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.favourites_icon {
    stroke: #757575;
    stroke-width: 0;
    width: 22px;
    height: 20px;
}

.favourites_link {
    color: #757575;
    text-decoration: none;
    font-size: 16px;
}

.favourites_button:hover {
    cursor: pointer;
}

.favourites_button:hover .favourites_link {
    color: var(--text_color);
}

.favourites_button:hover .favourites_icon {
    stroke: var(--text_color);
}

.message_button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 40;
}

.message_button:hover {
  cursor: pointer;
}

.search_button {
  width: 70px;
  height: 70px;
  border-radius: 40px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 15%);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 939px;
  right: 20px;
  z-index: 40;
}

.search_button:hover {
  background-color: #f5f5f5;
  box-shadow: 0 2px 20px 0 rgb(0 0 0 / 15%);
  cursor: pointer;
}

.search_button > svg {
  stroke: var(--text_color);
}

.search_button_fixed {
  position: fixed;
  top: 20px;
}

.search_box {
  position: fixed;
  margin-top: 160px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 40;
}

.search_box_container {
  max-width: 624px;
  width: 100%;
  display: flex;
  box-shadow: 0 10px 37px rgb(0 0 0 / 40%);
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
}

.search_box_icon {
  min-width: 55px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: none;
  
}

.search_box_icon:hover {
  cursor: pointer;
}

.search_box_icon_svg {
  fill: #757575;
  width: 24px;
  height: 24px;
  stroke: #757575;
}

.search_box_icon:hover .search_box_icon_svg {
  fill: var(--text_color);
  stroke: var(--text_color);
}

.search_box_input {
  width: 100%;
  height: 54px;
  font-size: 18px;
  line-height: 36px;
  border-radius: 6px;
  border: none;
  outline: none;
  padding: 14px 20px 14px 20px;
  color: inherit;
}

.search_box_disable {
  display: none;
}

.random_products {
  display: flex;
  flex-direction: column;
  max-width: 1152px;
  width: 100%;
  margin: 0 auto;
}

.random_products_title {
  font-size: 14px;
  color: #191919;

}

.random_products_container {
  display: flex;
  overflow: hidden;
}
