.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.breadcrumbs_links {
    text-decoration: none;
    color: #757575;
    font-size: 16px;
}

.breadcrumbs_links:hover {
    cursor: pointer;
    color: var(--text_color);
}

.slice {
    padding: 0 10px;
}

@media screen and (max-width: 1000px) and (min-width: 712px) {
    .breadcrumbs_links {
        font-size: 14px;
    }
}