.category_cards {
    display: flex;
    justify-content: center;
    max-width: 1152px;
    width: 100%;
    margin: 0 auto;
}

.category_cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 32px;
}

.links {
    text-decoration: none;
}