.contacts {
    width: 100%;
    background-color: white;
    padding: 32px 0;
}

.social_media {
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram {
    display: flex;
    margin: 0 20px;
}

.instagram:hover {
    opacity: 0.6;
}

.instagram > div {
    width: 24px;
    height: 24px;
    background-image: url('../../images/instagram.png');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.contact_links {
    text-decoration: none;
    color: var(--text_color);
    padding-left: 8px;
    font-weight: 600;
    font-size: 16px;
}

.telegram {
    display: flex;
    margin: 0 20px;
}

.telegram:hover {
    opacity: 0.6;
}

.telegram > div {
    width: 24px;
    height: 24px;
    background-image: url('../../images/telegram.png');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}